/* Container */
.add-event-container {
  display: flex;
  justify-content: center;
  background: var(--off-white);
  margin-top: 2em;
  margin-bottom:5em;
}

label, input[type="checkbox"], .registration-title{
  font-weight:700;
}

.topText {
  padding-left: 30px;
}

.topText h1{
  font-size:2em;
}


.form-section {
  display: grid;
  align-items: start; 
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
}
.form-section:last-of-type {
  border-bottom: none;
}
/* Card */
.form-card {
  width: 799px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  color: #0077C8;
  font-weight: 400;
}

/* Title */
.form-title {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

/* Image Upload */
.image-upload-box {
  border: 2px dashed #0077C8;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 40px;
}

.upload-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 15px;
}

.upload-icons img {
  width: 2em;
}

.upload-button {
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  border: none;
  font-weight: bold;
  border-style: solid;
  border-radius: 0.8em;
  padding: 0.8em 3.5em;
  text-align: center;
  box-shadow: var(--box-shadow-1);
  transition:
    background-color 0.2s,
    box-shdaow 0.4s;
}

.upload-button:active{
   box-shadow: none;
}

/* Form Grid Layout */
.form-section {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  margin-bottom: 30px;
  
}

.section-label {
  font-size: 20px;
  font-weight: bold;
  color: #0077C8;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 15px;  
}
.section-content input {
  border: 1px solid #ccc;
}

/* Two Column Layout */
.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Inputs*/
input,
textarea {
  height: 42px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

/* Larger textarea, aligned */
textarea {
  height: 100px;
  resize: none;
}

/* Tags Grid */
.tags-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.tags-grid label {
  display: flex;
  align-items: center;
  gap: 8px;
 
}


.registration-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registration-row {
  display: flex;

}

.registration-row.column {
  flex-direction: column;
  align-items: flex-start;
}

.registration-title {
  min-width: 220px;
}

.radio-options {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.radio-option {
  display: flex;
  gap: 8px;
  cursor: pointer;
  align-items: center; 
}

.radio-option input[type="radio"] {
  cursor: pointer;
 
}

/* Divider */
.divider {
  margin: 30px 0;
}

/* Buttons */
.add-event-button-row {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 30px;
}

input[type="submit"]{
  width:auto;
  font-size:1em;
  height:auto !important;
  
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center; 
}

.input-with-icon img {
  position: absolute;
  left: 12px;
  width: 1.5em;
}

.input-with-icon input {
  padding-left: 3em; 
}

.uniform-input{
  font-weight:bold;
  color:var(--black);
}

#dropDown{
  position:absolute;
  right: 12px;
  left:auto;
}

.radio-option{
  color: var(--black);
}

/* Responsive Designs */

/* Mobile */
@media (max-width: 639px) { 
  .form-card{
    width:75%;
  }

  .two-column{
    display: flex;
    flex-direction: column;
  }

  .tags-grid {
    grid-template-columns: auto;
  }

  .radio-options{
    display: block;
  }

  .radio-option{
    margin:0.5em 0em;
  }
  
  .registration-row{
    display: flex;
    flex-direction: column;
  }

  .form-section {
    grid-template-columns: 40% auto;
  }

  .add-event-button-row{
    justify-content: right;
  }

  .add-event-button-row button{
    font-size: 1em !important;
  }

}

/* Tablet */
@media (min-width: 640px) and (max-width: 1023px) {
  .form-card{
    width: 75%;
  }

  .radio-options{
    display: block;
  }

  .radio-option{
    margin:0.5em 0em;
  }
  
  .registration-row{
    display: flex;
    flex-direction: column;
  }

  .form-section {
    grid-template-columns: 40% auto;
  }

  .add-event-button-row button{
    font-size: 1em !important;
  }
}

.input-with-icon select {
  height: 42px;               /* same as other inputs */
  padding: 8px 12px 8px 40px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #E9E9E9;     /* same as other inputs */
  appearance: none;           /* remove default browser arrow */
}

.hide_registration{
  display: none;
}

.show_registration{
  display: flex;
}


#confirmation_container{
  width: 80vw;
  min-width:400px;
  background-color: white;
  margin:auto;
  text-align: center;
  align-items: center;
  margin-top:4em;
  margin-bottom: 4em;
  padding:4em 2em;
  border-radius: 25px;
}

#confirmation_container h1{
  margin-bottom: 0.2em;
}

#eventcard_container{
  display:flex;
  justify-content: center;
}

#confirmation_button_group{
  margin-top:1em;
  display:flex;
  gap:2em;
  align-items: center;
  justify-content: center;
}