#upcoming-events {
  margin: 30px;
  color: #363636;
}

#event-display {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  gap: 30px;
}

#event-cards {
  width: 80%;
}

.card-content {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}

.card-content img {
  width: 40%;
}

.details {
  width: 60%;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #0077C8;
  border-bottom: 2px solid #0077C8;
}

.title-icons {
  gap: 10px;
}

#filter {
  border: 2px solid black;
  width: 30%;
}