body {
  background-color: #E9E9E9;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#nav-bar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 5px 20px;
}

#left-icons {
  display: flex;
  color: #002D72;
  gap: 15px;
}

#left-icons img {
  width: 140px;
  height: 85px;
}

#right-icons img {
  width: 70px;
  height: auto;
}