#filter {
  width: 30%;
}

#btn-add-event {
  width: 100%;
  padding: 1em 3.5em;
  background-color: #004C9B;
  color: white;
}

#btn-add-event:hover {
  background-color: #0077C8;
}

#btn-add-event:active {
  background-color: #002D72;
}

#search-event {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 0px;
}

#search-event input[type="text"] {
  background: transparent;
  outline: none;
  width: 100%;
}

#filter h2 {
  border-bottom: 3px solid black;
  padding: 0px 0px 5px 0px;
}

#date-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#search-date {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#search-date label {
  font-weight: bold;
}

#search-date div {
  display: flex;
  background-color: white;
}

#search-date input[type="date"] {
  background: transparent;
  outline: none;
  width: 80%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0;
}

#event-category .selector {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px 0px;
}