button,
input[type="submit"] {
  border: none;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.8em 3.5em;
  box-shadow: var(--box-shadow-1);
  transition:
    background-color 0.2s,
    box-shdaow 0.4s;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

button:active,
input[type="submit"]:active {
  box-shadow: none;
  ;
}



/* Primary button styling: See figma for button classifications */
.btn-primary {
  background-color: var(--primary-button-color);
  color: var(--primary-button-text-color);
}

.btn-primary:hover {
  background-color: var(--primary-button-hover-color);
}

.btn-primary:active {
  background-color: var(--primary-button-active-color);
}


/* Primary button styling: See figma for button classifications */
.btn-delete {
  font-weight: 800;
  background-color: var(--delete-button-color);
  color: var(--delete-button-text-color);
}

.btn-delete:hover {
  background-color: var(--delete-button-hover-color);
}

.btn-delete:active {
  background-color: var(--delete-button-active-color);
}


/* Disabled Button styling */

.btn-disabled {
  cursor: not-allowed;
  box-shadow: none;
  background-color: var(--button-disable-color);
  color: var(--button-disable-text-color);

}