#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

body {
  margin: 0;
  display: block;
  min-height: 100vh;
  background-color: #ffffff;
}

.logo {
  height: auto;
  display: block;
}