#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 00px;
  }
  
  .button-row {
    display: flex;
    gap: 10px; 
    margin-bottom: 20px; 
  }
  #search-event input[type="text"],
  #search-date input[type="date"] {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    outline: none;
    margin-right: 5px;
  }
  
  #search-event input[type="image"],
  #search-date input[type="image"] {
    cursor: pointer;
    width: 10px;
  }
  
  .section-title {
    border-bottom: 3px solid black; 
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #333;
  }
  
  #tagsContainer .selector {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
  }
  
  #date-filter div {
    margin-bottom: 10px;
  }



.input-with-icon .search-btn {
  border: none;
  background: none;
  cursor: pointer;
}


.input-with-icon .icon-button {
  position: absolute;
  right: 40px;
  top: 30%;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

#switch-input-group{
  display:flex;
  flex-direction:column;
  margin-top:1em;
  gap:0.5em;
}

/* Mobile and tablet*/
@media (max-width: 639px) { 
  
   #filter:not(.hide-on-compact){
    display: flex !important;
    align-items: center;
   }
  
  #filter > :not(:nth-child(-n + 1)){
    display: none;
  }

  #filter > #search-event{
    display: block;
    width: 80%;
  }

  .button-row{
    width:80%;
  }

  .button-row > button{
    font-size: 1em !important;
    width: 100%;
  }

  .search-icon{
    width:3em !important;
    top:-0.5em !important;
    left:0 !important;
  }
}

/* Tablet */
@media (min-width: 640px) and (max-width: 1023px) { 
  #filter:not(.hide-on-compact){
    display: flex !important;
    align-items: center;
   }
  
  #filter > :not(:nth-child(-n + 1)){
    display: none;
  }

  #filter > #search-event{
    display: block;
    width: 80%;
  }

  .button-row{
    width:80%;
  }

  .button-row > button{
    font-size: 1em !important;
    width: 100%;
  }

  .input-with-icon img{
    width:3.5em !important;
    top:-0.5em !important;
    left:-2em !important;
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.8em;
  height: 2.1em;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 1em;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--medium-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--medium-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch-input{
  display:flex;
  gap: 0.5em;
  align-items: center;
}
